
{% extends 'base.html' %}

{% block body %}

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Melon Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
        </thead>
        <tbody>
            {% for melon in session['cart'] %}
                <tr>
                    <td>{{ session['cart'][melon]['common_name']}}</td>
                    <td>{{ session['cart'][melon]['quantity']}}</td>
                    <td>{{ '${:.2f}'.format(session['cart'][melon]['price'])}}</td>
                    <td>{{ '${:.2f}'.format(session['cart'][melon]['sub_total'])}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h3>Total: {{'${:.2f}'.format(total)}}</h3>

    <a href="/checkout" class="btn btn-large btn-primary">Check Out</a>

{% endblock %}
